# Dependencies
node_modules/

# Next.js
.next/
out/

# Build
dist/
coverage/

# Test
.turbo
test-results/
playwright-report/
blob-report/
playwright/.cache/
target/
.debug

# Environment
.env
.env.local
.env*.local

# Prisma
src/generated/

# Docker
postgres_data/
/src/generated/prisma
tsconfig.tsbuildinfo
