@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Custom text shadow for hover effect */
.hover\:text-shadow-lg:hover {
  text-shadow: 0 0 5px #242444;
}

.navbar {
  position: fixed;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.navbar-style {
  background: rgba(44, 44, 44, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 1rem 2rem;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2rem;
}

.nav-list li {
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: uppercase;
}

.nav-list li:hover {
  color: #242444;
  text-shadow: 0 0 5px #242444;
}

.nav-list li a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s ease;
}

.nav-list li:hover a {
  color: inherit;
}

section {
  padding-top: 6rem;
  position: relative;
  z-index: 1;
}

body {
  position: relative;
  z-index: 1;
}

/* Typewriter effect */
.typewriter {
    display: inline-block;
    overflow: hidden;
    border-right: .15em solid #242444;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.15em;
    animation: 
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #2f2fa5; }
}

/* Add this to ensure consistent width */
.inline-block {
    text-align: left;
    padding-right: 0.5rem; /* Adjust as needed */
}

/* Bounce animation */
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.animate-bounce {
    animation: bounce 1.5s infinite;
}